
*.aux
*.log
*.pdf
*.gz
*.lb
*.dvi
*~
*.DS_Store
*.toc
*.rp
*.bbl
*.blg
*.run.xml
*.docx
*.pptx
*.out
*.upa
*.upb
_minted-paper
*.fls
*.fdb_latexmk
*settings.json
*xcp
*.synctex*
*.lof
*.lot
*.loa
*.bcf
*.vscode
*.pyc
gear.egg-info
3.7
*.doctree
*.pickle
*.buildinfo
*.inv
*.rst.txt