/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}


.md-content__button {
  display: none;
}

/* override max-width that would otherwise be 61rem */
.md-grid {
  max-width: 100%;
}